/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
